- name: Update /etc/fstab
  become: true
  mount:
    path: "{{ item.path }}"
    src: "{{ item.src }}"
    fstype: "{{ item.fstype }}"
    opts: "{{ item.opts }}"
    state: mounted
  loop: "{{ lookup('vars', ansible_facts['os_family'] | lower).fs_mounts | default([]) }}"
  when: ansible_facts['os_family'] == 'Debian'