# vim:ft=ansible

unix_directories:
  - ~/.history

unix_packages:
  - autojump
  - btop
  - coreutils
  - curl
  - git
  - jq
  - python3
  - tree
  - vim
  - zsh

nerd_fonts:
  - "FiraMono"

debian:
  golang: false
  files:
    - { src: 'dotfiles/.vimrc', dest: '~/.vimrc' }
    - { src: 'dotfiles/.zshrc-linux', dest: '~/.zshrc' }
    - { src: 'dotfiles/.zshrc-common', dest: '~/.zshrc-common' }
    - { src: 'themes/oh-my-posh/kev.omp.json', dest: '~/.kev.omp.json' }
  k3s: # Lightweight Kubernetes: https://github.com/k3s-io/k3s/releases/
    kubeconfig: ~/.kube/k3sconfig
    local_kubeconfig: "{{ lookup('env', 'HOME') }}/.kube/mini-cloud"
    args:
      - --write-kubeconfig-mode 644
      - --write-kubeconfig ~/.kube/k3sconfig
      - --disable=traefik
      - --disable=servicelb
      - --prefer-bundled-bin
      # - --tls-san 10.0.0.10
      # - --tls-san 174.44.106.30
      # - --tls-san livingroom.cloud
  packages:
    - bettercap

darwin:
  files:
    - { src: 'dotfiles/.vimrc', dest: '~/.vimrc' }
    - { src: 'dotfiles/.bashrc', dest: '~/.bashrc' }
    - { src: 'dotfiles/.zshrc-mac', dest: '~/.zshrc' }
    - { src: 'dotfiles/.zshrc-common', dest: '~/.zshrc-common' }
    - { src: 'configs/ssh.config', dest: '~/.ssh/config' }
    - { src: 'themes/oh-my-posh/kev.omp.json', dest: '~/.kev.omp.json' }
  casks:
    - arduino-ide
    - beekeeper-studio
    #- blender
    #- discord
    - docker
    - firefox
    - google-chrome
    - lens
    #- logitech-g-hub
    #- slack
    - spotify
    #- steam
    - visual-studio-code
    #- vlc
  packages:
    # - awscli
    - balenaetcher
    - helm
    - iterm2
    - k9s
    - kubectl
    - kubectx

redhat:
  golang: true
  pyenv: true
  toshy: true
  files:
    - { src: 'dotfiles/.zshrc-common', dest: '~/.zshrc-common' }
    - { src: 'dotfiles/.zshrc-linux', dest: '~/.zshrc' }
    - { src: 'dotfiles/.vimrc', dest: '~/.vimrc' }
    - { src: 'dotfiles/.zshrc-common', dest: '~/.zshrc-common' }
    - { src: 'configs/ssh.config', dest: '~/.ssh/config' }
  packages:
    - kubernetes-kubeadm

windows:
  files:
    - {
      src: 'windows/MacToWinKeys.ahk',
      dest: '{{ lookup("env", "USERPROFILE") }}\AppData\Roaming\Microsoft\Windows\Start Menu\Programs\Startup\MacToWinKeys.ahk'}
    - {
      src: 'windows/Microsoft.PowerShell_profile.ps1',
      dest: '{{ lookup("env", "USERPROFILE") }}\Documents\WindowsPowerShell\Microsoft.PowerShell_profile.ps1'}
    - {
      src: 'themes/oh-my-posh/kev.omp.json',
      dest: '{{ lookup("env", "USERPROFILE") }}\Documents\WindowsPowerShell\kev.omp.json'}
  packages:
    - git
