# vim:ft=ansible

nerd_fonts:
  - "FiraMono"

unix_directories:
  - ~/.history

unix_packages:
  - autojump
  - btop
  - coreutils
  - curl
  - gdu
  - git
  - jq
  - python3
  - ranger
  - tree
  - vim
  - wget
  - zsh

