
packages:
  - kubectx
  - k9s

files:
  - { src: 'dotfiles/.vimrc', dest: '~/.vimrc' }
  - { src: 'dotfiles/.zshrc-linux', dest: '~/.zshrc' }
  - { src: 'dotfiles/.zshrc-common', dest: '~/.zshrc-common' }
  - { src: 'themes/oh-my-posh/kev.omp.json', dest: '~/.kev.omp.json' }

firewall_rules:
  - { port: '22', proto: 'tcp', comment: 'SSH' }
  - { port: '3389', proto: 'tcp', comment: 'RDP' }
  - { port: '6443', proto: 'tcp', comment: 'Kubernetes API' }
  - { port: '51820', proto: 'udp', comment: 'WireGuard VPN' }
  - { port: '445', proto: 'tcp', comment: 'SMB over TCP' }
  - { port: '137', proto: 'udp', comment: 'SMB NetBIOS name' }
  - { port: '139', proto: 'tcp', comment: 'SMB NetBIOS session' }
  - { port: '138', proto: 'udp', comment: 'SMB NetBIOS datagram' }

static_ip:
  hostname: mini-cloud  # Hostname to add to /etc/hosts
  interface: enp4s0  # Network interface name (use 'ip a' to find)
  gateway: 10.0.0.1 # Gateway IP address
  address: 10.0.0.10  # Static IP address
  netmask: 16 # Subnet mask
  nameservers:
    - 10.0.0.1
    - 1.1.1.1
    - 8.8.8.8

k3s: # Lightweight Kubernetes: https://github.com/k3s-io/k3s/releases/
  kubeconfig: 
    remote: ~/.kube/k3sconfig
    local: "{{ lookup('env', 'HOME') }}/.kube/mini-cloud"
  args:
    - --disable=traefik
    - --tls-san 10.0.0.10
    - --disable=servicelb
    - --prefer-bundled-bin
    - --write-kubeconfig-mode 644
    - --write-kubeconfig ~/.kube/k3sconfig
    - --default-local-storage-path /mnt/ssd/ex2/k3s/storage

wireguard:
  server_endpoint: livingroom.cloud
  interfaces:
    - name: wg0
      address: 10.0.10.0/24
      peers:
        - name: workMac
          allowed_ips: 10.0.10.2/32
        - name: macAir
          allowed_ips: 10.0.10.3/32
        - name: notYouriPhone
          allowed_ips: 10.0.10.4/32

fs_mounts:
- {
  path: /mnt/ssd/movies,
  src: "UUID=0CB81103B810ED48",
  fstype: ntfs,
  opts: "defaults,nobootwait,nofail,errors=remount-ro",
}
- {
  path: /mnt/ssd/series,
  src: "UUID=56885E3A885E18B7",
  fstype: ntfs,
  opts: "defaults,nobootwait,nofail,errors=remount-ro",
}
- {
  path: /mnt/ssd/pny250,
  src: "UUID=1DAC99F73EFA9CB8",
  fstype: ntfs,
  opts: "defaults,nobootwait,nofail,errors=remount-ro",
}
- {
  path: /mnt/hdd/tera,
  src: "UUID=D4504CF8504CE33A",
  fstype: ntfs,
  opts: "defaults,nobootwait,nofail,errors=remount-ro"
}
- {
  path: /mnt/hdd/barracuda,
  src: "UUID=24FEA26DFEA236C8",
  fstype: ntfs,
  opts: "defaults,nobootwait,nofail,errors=remount-ro"
}
- {
  path: /mnt/ssd/ex2,
  src: "UUID=8e0dfd97-1bfc-40f3-af1c-3bff20d80df9",
  fstype: ext4,
  opts: "defaults,nofail"
}

# nfs_shares:
#   - /mnt/hdd/tera *(rw,no_root_squash,insecure,async,no_subtree_check,anonuid=1000,anongid=1000)

smb_shares:
  - name: tera
    path: /mnt/hdd/tera
    comment: Tera share
    browseable: yes
    read_only: no
    guest_ok: no
    valid_users: cloudmin
    force_user: cloudmin

  - name: barracuda
    path: /mnt/hdd/barracuda
    comment: Barracuda share
    browseable: yes
    read_only: no
    guest_ok: no
    valid_users: cloudmin
    force_user: cloudmin

  - name: movies
    path: /mnt/ssd/movies
    comment: Movies share
    browseable: yes
    read_only: yes
    guest_ok: yes

  - name: series
    path: /mnt/ssd/series
    comment: Series share
    browseable: yes
    read_only: yes
    guest_ok: yes