# Example overlay values to configure an SMTP relay using a Kubernetes Secret
#
# 1) Create the secret in the mail namespace:
#    kubectl -n mail create secret generic smtp-relay-credentials \
#      --from-literal=relay-user='apikey' \
#      --from-literal=relay-password='<SENDGRID_API_KEY>'
#
# 2) Copy this file to `docker-mailserver.relay.values.yaml` and adjust:
#    cp k3s/helm/values/docker-mailserver.relay.values.yaml.example k3s/helm/values/docker-mailserver.relay.values.yaml
#
# NOTE: This assumes the upstream helm chart supports `deployment.extraEnv` entries
# (env list items with `valueFrom.secretKeyRef`). If it doesn't, run:
#   helm show values docker-mailserver/docker-mailserver | rg -n "extraEnv|envFrom|deployment"
# and adjust the keys accordingly.

deployment:
  env:
    DEFAULT_RELAY_HOST: "[smtp.sendgrid.net]:587"

  extraEnv:
  - name: RELAY_USER
    valueFrom:
      secretKeyRef:
        name: smtp-relay-credentials
        key: relay-user
  - name: RELAY_PASSWORD
    valueFrom:
      secretKeyRef:
        name: smtp-relay-credentials
        key: relay-password


