#Host SHORT_NAME
#  Hostname FQDN or IP
#  User SSH_USER
#  IdentityFile ~/.ssh/some.pem
#  ForwardAgent yes
#  RequestTTY false
#  LocalForward LOCAL_PORT REMOTE_URL:REMOTE_PORT

Host mini-cloud
    User cloudmin
    Hostname 10.0.0.10

Host pi-cloud
    User admin
    Hostname 10.0.0.9
    IdentitiesOnly yes
    IdentityFile ~/.ssh/pi-key

Host pi-gadget
    User admin
    IdentitiesOnly yes
    Hostname pi-gadget.local
    IdentityFile ~/.ssh/pi-key

Host pi*
    User admin
    IdentitiesOnly yes
    IdentityFile ~/.ssh/pi-key