- name: Install NFS Server Packages
  become: true
  apt:
    pkg:
      - nfs-kernel-server
      - rpcbind
    state: present
    update_cache: true

- name: Configure NFS firewall rules
  become: true
  ufw:
    rule: allow
    port: "{{ item.port }}"
    proto: "{{ item.proto }}"
    comment: "{{ item.comment }}"
  loop:
    - { port: '111', proto: 'tcp', comment: 'NFS rpcbind' }
    - { port: '111', proto: 'udp', comment: 'NFS rpcbind' }
    - { port: '2049', proto: 'tcp', comment: 'NFS server' }
    - { port: '2049', proto: 'udp', comment: 'NFS server' }
    - { port: '32765:65535', proto: 'tcp', comment: 'NFS dynamic ports' }
    - { port: '32765:65535', proto: 'udp', comment: 'NFS dynamic ports' }

- name: Ensure rpcbind service is enabled and started
  become: true
  ansible.builtin.systemd:
    name: rpcbind
    enabled: true
    state: started

- name: Ensure nfs-server service is enabled and started
  become: true
  ansible.builtin.systemd:
    name: nfs-server
    enabled: true
    state: started

- name: Update NFS Exports File
  become: true
  lineinfile:
    path: /etc/exports
    state: present
    line: "{{ item }}"
  loop: "{{ nfs_shares | default([]) }}"

- name: Export NFS Shares
  become: true
  shell: exportfs -ra
