#############  Personal ##################

#Host SHORT_NAME
#  Hostname FQDN or IP
#  User SSH_USER
#  IdentityFile ~/.ssh/some.pem
#  ForwardAgent yes
#  RequestTTY false
#  LocalForward LOCAL_PORT REMOTE_URL:REMOTE_PORT

Host pi*
  User admin
  IdentityFile ~/.ssh/id_rsa
  IdentitiesOnly yes

Host livingroom.cloud
  User admin
  IdentityFile ~/.ssh/id_rsa
  IdentitiesOnly yes

Host torch.cloud
  User ubuntu
  IdentityFile ~/.ssh/KEVPC.pem
  IdentitiesOnly yes
  ForwardAgent yes

