[Interface]
PrivateKey = {{ client_private_key }}
Address = {{ client_address }}
DNS = 1.1.1.1, 8.8.8.8, 9.9.9.9

[Peer]
PublicKey = {{ server_public_key }}
Endpoint = {{ server_endpoint }}:51820
AllowedIPs = 0.0.0.0/0
