[Interface]
PrivateKey = {{ client_private_key }}
{% if peer.allowed_ips is string %}
Address = {{ peer.allowed_ips }}
{% else %}
Address = {{ peer.allowed_ips | join(', ') }}
{% endif %}
DNS = 1.1.1.1, 8.8.8.8, 9.9.9.9

[Peer]
PublicKey = {{ server_public_key }}
Endpoint = {{ server_endpoint }}:51820
AllowedIPs = 0.0.0.0/0

