- name: Provisions Local Machine
  hosts: local remote
  gather_facts: true
  
  roles:
    - { role: packages, tags: ['packages', 'casks'] }
    - { role: nerd-fonts, tags: ['nerd-fonts'] }
    - { role: system, tags: ['system'] }
    - { role: files, tags: ['files'] }
    - { role: fstab, tags: ['fstab'] }
    - { role: golang, tags: ['go'] }
    - { role: k3s, tags: ['k3s'] }
    - { role: nfs, tags: ['nfs'] }
