- name: Provisions Remote Machines
  hosts: remote
  gather_facts: true

  vars_files:
    - group_vars/vault.yml

  roles:

    - { role: files, tags: ['files', 'config'] }
    - { role: shell, tags: ['shell', 'config'] }
    - { role: nerd-fonts, tags: ['nerd-fonts', 'config'] }
    - { role: packages, tags: ['packages', 'config'] }

    - { role: fstab, tags: ['fstab','filesystem'] }
    - { role: smb, tags: ['smb', 'filesystem'] }
    - { role: nfs, tags: ['nfs', 'filesystem'] }

    - { role: ufw, tags: ['ufw', 'network'] }
    - { role: static-ip, tags: ['static-ip', 'network'] }
    - { role: wireguard, tags: ['wireguard', 'wg', 'network'] }

    - { role: golang, tags: ['go'] }
    - { role: k3s, tags: ['k3s'] }