
#Host SHORT_NAME
#    Hostname FQDN or IP
#    User SSH_USER
#    Port SSH_PORT
#    IdentityFile ~/.ssh/some.pem
#    ForwardAgent yes
#    RequestTTY false
#    LocalForward LOCAL_PORT REMOTE_URL:REMOTE_PORT

Include ~/.ssh/*.config

Host mini-cloud livingroom.cloud
    User cloudmin
    Hostname 10.0.0.10

Host pi-gadget
    User admin
    Hostname 100.0.0.10
    IdentityFile ~/.ssh/pi-key
    IdentitiesOnly yes
    ForwardAgent yes
