
#Host SHORT_NAME
#    Hostname FQDN or IP
#    User SSH_USER
#    IdentityFile ~/.ssh/some.pem
#    ForwardAgent yes
#    RequestTTY false
#    LocalForward LOCAL_PORT REMOTE_URL:REMOTE_PORT


Host pi-gadget
    User admin
    Hostname 100.0.0.1
    IdentityFile ~/.ssh/id_rsa
    IdentitiesOnly yes
    ForwardAgent yes

Host pi*
    User admin
    IdentityFile ~/.ssh/id_rsa
    IdentitiesOnly yes

Host livingroom.cloud
    User admin
    IdentityFile ~/.ssh/id_rsa
    IdentitiesOnly yes

