
#Host SHORT_NAME
#    Hostname FQDN or IP
#    User SSH_USER
#    Port SSH_PORT
#    IdentityFile ~/.ssh/some.pem
#    ForwardAgent yes
#    RequestTTY false
#    LocalForward LOCAL_PORT REMOTE_URL:REMOTE_PORT



Host pi-gadget
    User admin
    Hostname 100.0.0.10
    IdentityFile ~/.ssh/pi-key
    IdentitiesOnly yes
    ForwardAgent yes

Host pi-cloud 10.0.0.10
    User admin
    Hostname 10.0.0.10
    IdentityFile ~/.ssh/pi-key
    IdentitiesOnly yes

Host pi* livingroom.cloud
    User admin
    IdentityFile ~/.ssh/pi-key
    IdentitiesOnly yes

# Injective
Host signoz
    Hostname signoz.injective.dev
    User ubuntu

Host testnet-node-1
    HostName 15.204.65.64
    User kevin

Host *amazonaws.com
    User ec2-user
    IdentitiesOnly yes

Host injective-validator
        HostName 162.19.170.19
        User kevin
    
Host mainnet-sentry-de-0
        HostName 176.9.143.252
        User kevin
    
Host mainnet-sentry-de-1
        HostName 176.9.140.49
        User kevin
    
Host mainnet-sentry-fi-0
        HostName 65.109.51.80
        User kevin
    
Host mainnet-sentry-fi-1
        HostName 65.109.36.70
        User kevin
    
Host mainnet-sentry-ca-0
        HostName 15.235.114.80
        User kevin
    
Host mainnet-sentry-ca-1
        HostName 15.235.13.116
        User kevin
    
Host mainnet-archival-node-0
        HostName 15.204.206.103
        User kevin
    
Host mainnet-archival-node-1
        HostName 15.204.206.127
        User kevin
    
Host mainnet-archival-node-1-hz
        HostName 148.251.88.51
        User kevin
    
Host mainnet-archival-node-2
        HostName 37.27.58.188
        User kevin
    
Host mainnet-archival-node-3
        HostName 162.55.28.144
        User kevin
    
Host mainnet-products-fallback-0
        HostName 141.95.35.194
        User kevin
    
Host mainnet-products-fallback-1
        HostName 141.95.35.196
        User kevin
    
Host mainnet-archival-subnode-0
        HostName 46.105.222.167
        User kevin
    
Host mainnet-archival-subnode-1
        HostName 141.94.46.183
        User kevin
    
Host mainnet-staging-archival-node-0
        HostName 162.55.103.170
        User kevin
    
Host mainnet-staging-archival-node-1
        HostName 23.88.5.151
        User kevin
    
Host asymmetries-node
        HostName 162.19.235.151
        User kevin
    
Host kronos-node
        HostName 162.19.84.42
        User kevin
    
Host imc-node
        HostName 162.19.169.211
        User kevin
    
Host mainnet-node-0
        HostName 15.235.86.222
        User kevin
    
Host mainnet-node-1
        HostName 148.113.153.117
        User kevin
    
Host mainnet-node-2
        HostName 15.204.208.167
        User kevin
    
Host mainnet-node-3
        HostName 51.81.221.159
        User kevin
    
Host mainnet-node-4
        HostName 162.19.171.43
        User kevin
    
Host mainnet-node-5
        HostName 57.129.59.46
        User kevin
    
