- name: Link OS-Specific Files (Local Group)
  ansible.builtin.file:
    src: "{{ lookup('pipe', 'realpath ' + inventory_dir + '/../assets/' + item.src) }}"
    dest: "{{ item.dest }}"
    mode: "0644"
    state: link
    force: true
    follow: false
  loop: "{{ files | default([]) }}"
  when: ansible_facts['os_family'] != "Windows" and 'local' in group_names

- name: Copy OS-Specific Files (Remote Group)
  when: ansible_facts['os_family'] != "Windows" and 'remote' in group_names
  ansible.builtin.copy:
    src: "{{ lookup('pipe', 'realpath ' + inventory_dir + '/../assets/' + item.src) }}"
    dest: "{{ item.dest }}"
    mode: "0644"
  loop: "{{ files | default([]) }}"

- name: Copy OS-Specific Files (Windows)
  when: ansible_facts['os_family'] == "Windows"
  ansible.builtin.copy:
    src: "{{ lookup('pipe', 'realpath ' + inventory_dir + '/../assets/' + item.src) }}"
    dest: "{{ item.dest }}"
    mode: "0644"
  loop: "{{ files | default([]) }}"
