- name: Link Files (Local User)
  ansible.builtin.file:
    src: "{{ lookup('pipe', 'realpath ' + inventory_dir + '/../assets/' + item.src) }}"
    dest: "{{ item.dest }}"
    mode: "0644"
    state: link
    force: true
    follow: false
  loop: "{{ files.user | default([]) }}"
  when: "'local' in group_names"

- name: Copy Files (Remote User)
  ansible.builtin.copy:
    src: "{{ lookup('pipe', 'realpath ' + inventory_dir + '/../assets/' + item.src) }}"
    dest: "{{ item.dest }}"
    mode: "0644"
  loop: "{{ files.user | default([]) }}"
  when: "'remote' in group_names"

- name: Copy Files (Remote Root)
  become: true
  ansible.builtin.copy:
    src: "{{ lookup('pipe', 'realpath ' + inventory_dir + '/../assets/' + item.src) }}"
    dest: "{{ item.dest }}"
    mode: "0644"
  loop: "{{ files.root | default([]) }}"
  when: "'remote' in group_names"